{{page-title "Samples"}}

<h3>Basic Usage</h3>
<FaIcon @icon="coffee" class="foo" /> (explictly using icon attribute, and with additional class name)
<h3>Mask with Transform</h3>
<p>(expected: black square with white dot inside, pushed to the right side)</p>
<FaIcon @icon="circle" @transform="shrink-9 right-4" @mask="square" />
<h3>Default fas prefix versus specifying a different prefix for the same icon name</h3>
<FaIcon @icon="square" />
<FaIcon @prefix="far" @icon="calendar-xmark" />
<h3>Missing Icon</h3>
<p>Expecting no icon between these bars |<FaIcon @icon="unfindable-icon" />| (and a warning log in the console)</p>
<h3>Dynamic with Bound Attribute</h3>
<div>
  <label for="magic-slider">Drag the slider to spin the magic.</label>
  <Input id="magic-slider" @type="range" @value={{this.magic}} />
  {{! template-lint-disable no-inline-styles}}
  <div style="padding:2em;">
    <FaIcon @icon="magic" @transform={{concat "rotate-" this.magic}} />
  </div>
</div>
<h3>Pro Icon</h3>
<p>(If you have pro-light-svg-icons installed, this should show the "starshp" &amp; "face-awesome" icons in the light style)</p>
<FaIcon @prefix="fal" @icon="starship" @size="2x" />
<FaIcon @prefix="fal" @icon="face-awesome" @size="2x" />
<p>(If you have pro-thin-svg-icons installed, this should show the "starshp" &amp; "face-awesome" icons in the thin style)</p>
<FaIcon @prefix="fat" @icon="starship" @size="2x" />
<FaIcon @prefix="fat" @icon="face-awesome" @size="2x" />
<p>(If you have pro-duotone-svg-icons installed, this should show the "starshp" &amp; "face-awesome" icons in the duotone style)</p>
<FaIcon @prefix="fad" @icon="starship" @size="2x" />
<FaIcon @prefix="fad" @icon="face-awesome" @size="2x" />
<p>(If you have sharp-solid-svg-icons installed, this should show the starshp" &amp; "face-awesome"" icons in the solids tyle for the sharp family)</p>
<FaIcon @prefix="fass" @icon="starship" @size="2x" />
<FaIcon @prefix="fass" @icon="face-awesome" @size="2x" />
<h3>Fixed Width</h3>

<div><FaIcon @icon="home" @fixedWidth={{true}} class="MistyRose" /> Home</div>
<div><FaIcon @icon="info" @fixedWidth={{true}} class="MistyRose" /> Info</div>
<div><FaIcon @icon="book" @fixedWidth={{true}} class="MistyRose" /> Library</div>
<div><FaIcon @icon="pencil-alt" @fixedWidth={{true}} class="MistyRose" /> Applications</div>
<div><FaIcon @icon="cog" @fixedWidth={{true}} class="MistyRose" /> Settings</div>
<div><FaIcon @icon="fax" @fixedWidth={{true}} class="MistyRose" /> Contact</div>

<h3>List Icons</h3>
<ul class="fa-ul">
  <li><span class="fa-li"><FaIcon @icon="check-square" /></span>List icons can</li>
  <li><span class="fa-li"><FaIcon @icon="check-square" /></span>be used to</li>
  <li><span class="fa-li"><FaIcon @icon="spinner" @pulse={{true}} /></span>replace bullets</li>
  <li><span class="fa-li"><FaIcon @icon="square" /></span>in lists</li>
</ul>

<h3>Animation (Spin)</h3>
<FaIcon @icon="sync" @spin={{true}} /><br>
<FaIcon @icon="sync" @spin={{this.isSpinning}} />
<input id="spin-it" type="checkbox" checked={{this.isSpinning}} {{on "click" this.toggleSpinning}} > <label for="spin-it">Spin it</label>

<h3>Animation (Pulse)</h3>
<FaIcon @icon="cog" @pulse={{true}} /><br>
<FaIcon @icon="cog" @pulse={{this.isPulsing}} />
<input id="pulse-it" type="checkbox" checked={{this.isPulsing}} {{on "click" this.togglePulsing}} > <label for="pulse-it">Pulse it</label>

<h3>Sizes</h3>
1x <FaIcon @icon="coffee" /><br>
2x <FaIcon @icon="coffee" @size="2x" /><br>
4x <FaIcon @icon="coffee" @size="4x" /><br>
8x <FaIcon @icon="coffee" @size="8x" /><br>

<h3>Rotation</h3>
0 <FaIcon @icon="coffee" /><br>
90 <FaIcon @icon="coffee" @rotation="90" /><br>
180 <FaIcon @icon="coffee" @rotation="180" /><br>
270 <FaIcon @icon="coffee" @rotation="270" /><br>

<h3>Flip</h3>
<FaIcon @icon="coffee" @flip="horizontal" />
<FaIcon @icon="coffee" @flip="vertical" />
<FaIcon @icon="coffee" @flip="both" />

<h3>Border</h3>
<FaIcon @icon="coffee" @border={{true}} />

<h3>Power Transforms</h3>
<FaIcon @icon="coffee" @transform="shrink-6 rotate-30" />

<h3>Masking</h3>
<FaIcon @icon="coffee" @transform="shrink-6"  @mask="circle" />

<h3>Layers</h3>
<span class="fa-layers fa-lg">
  <FaIcon @icon="circle" />
  <FaIcon @icon="check" class="fa-inverse" @transform="shrink-6" />
</span>

<h3>Alias</h3>
<FaIcon @icon="trash-alt" />

{{outlet}}
