<h3>Basic Usage</h3>
<FaIcon @icon="coffee" class="foo" /> (explictly using icon attribute, and with additional class name)
<h3>Mask with Transform</h3>
<p>(expected: black square with white dot inside, pushed to the right side)</p>
<FaIcon @icon="circle" @transform="shrink-9 right-4" @mask="square" />
<h3>Default fas prefix versus specifying a different prefix for the same icon name</h3>
<FaIcon @icon="square" />
<FaIcon @prefix="far" @icon="square" />
<h3>Missing Icon</h3>
<p>Expecting no icon between these bars |<FaIcon @icon="unfindable-icon" />| (and a warning log in the console)</p>
<h3>Dynamic with Bound Attribute</h3>
<div>
  <p>Drag the slider to spin the magic.</p>
  <Input type="range" @value={{this.magic}} />
  {{! template-lint-disable no-inline-styles}}
  <div style="padding:2em;">
    <FaIcon @icon="magic" @transform={{concat "rotate-" this.magic}} />
  </div>
</div>
<h3>Pro Icon</h3>
<p>(If you have pro-light-svg-icons installed, this should show the "adjust" icon in the light style)</p>
<FaIcon @prefix="fal" @icon="adjust" />
<h3>Fixed Width</h3>
<style type="text/css">
  .MistyRose {
    background-color: mistyrose;
  }
</style>
<div><FaIcon @icon="home" @fixedWidth={{true}} class="MistyRose" /> Home</div>
<div><FaIcon @icon="info" @fixedWidth={{true}} class="MistyRose" /> Info</div>
<div><FaIcon @icon="book" @fixedWidth={{true}} class="MistyRose" /> Library</div>
<div><FaIcon @icon="pencil-alt" @fixedWidth={{true}} class="MistyRose" /> Applications</div>
<div><FaIcon @icon="cog" @fixedWidth={{true}} class="MistyRose" /> Settings</div>
<div><FaIcon @icon="fax" @fixedWidth={{true}} class="MistyRose" /> Contact</div>

<h3>List Icons</h3>
<ul class="fa-ul">
  <li><span class="fa-li"><FaIcon @icon="check-square" /></span>List icons can</li>
  <li><span class="fa-li"><FaIcon @icon="check-square" /></span>be used to</li>
  <li><span class="fa-li"><FaIcon @icon="spinner" @pulse={{true}} /></span>replace bullets</li>
  <li><span class="fa-li"><FaIcon @icon="square" /></span>in lists</li>
</ul>

<h3>Animation (Spin)</h3>
<FaIcon @icon="sync" @spin={{true}} /><br>
<FaIcon @icon="sync" @spin={{this.isSpinning}} />
<input type="checkbox" checked={{this.isSpinning}} {{on "click" this.toggleSpinning}} > Spin it

<h3>Animation (Pulse)</h3>
<FaIcon @icon="cog" @pulse={{true}} /><br>
<FaIcon @icon="cog" @pulse={{this.isPulsing}} />
<input type="checkbox" checked={{this.isPulsing}} {{on "click" this.togglePulsing}} > Pulse it

{{outlet}}
