<h2 id="title">Welcome to Ember</h2>
{{fontawesome-icon icon=faCoffee}}
{{fontawesome-icon icon='cog'}}
{{fontawesome-icon icon='cog' pulse=true}}
{{fontawesome-icon icon='circle' transform="shrink-9 right-4" mask=faSquare}}
<p>Expecting no icon between these bars |{{fontawesome-icon icon='unfindable-icon'}}| (and a warning log in the console)</p>
{{outlet}}