{{fa-icon icon='coffee' class='foo'}} 
<h3>Mask with Transform</h3>
<p>(expected: black square with white dot inside, pushed to the right side)</p>
{{fa-icon icon='circle' transform="shrink-9 right-4" mask=faSquare}}
<h3>Default fas prefix versus specifying a different prefix for the same icon name</h3>
{{fa-icon icon='square'}}
{{fa-icon prefix='far' icon='square'}}
<h3>Missing Icon</h3>
<p>Expecting no icon between these bars |{{fa-icon icon='unfindable-icon'}}| (and a warning log in the console)</p>
<h3>Dynamic with Bound Attribute</h3>
<div>
  <p>Drag the slider to spin the magic.</p>
  {{input type='range' value=magic}}
  <div style="padding:2em;">
    {{fa-icon icon='magic' transform=(concat 'rotate-' magic)}}
  </div>
</div>
<h3>Pro Icon</h3>
<p>(If you have fontawesome-pro-light installed, this should show the 'adjust' icon in the light style)</p>
{{fa-icon prefix='fal' icon='adjust'}}
<h3>Fixed Width</h3>
<!-- @TODO: Do we need the style attribute to come through? -->
<div>{{fa-icon icon='home' fixedWidth=true style="background:MistyRose"}} Home</div>
<div>{{fa-icon icon='info' fixedWidth=true style="background:MistyRose"}} Info</div>
<div>{{fa-icon icon='book' fixedWidth=true style="background:MistyRose"}} Library</div>
<div>{{fa-icon icon='pencil-alt' fixedWidth=true style="background:MistyRose"}} Applications</div>
<div>{{fa-icon icon='cog' fixedWidth=true style="background:MistyRose"}} Settings</div>

<h3>List Icons</h3>
<ul class="fa-ul">
  <li><span class="fa-li">{{fa-icon icon='check-square'}}</span>List icons can</li>
  <li><span class="fa-li">{{fa-icon icon='check-square'}}</span>be used to</li>
  <li><span class="fa-li">{{fa-icon icon='spinner' pulse=true}}</span>replace bullets</li>
  <li><span class="fa-li">{{fa-icon icon='square'}}</span>in lists</li>
</ul>
<h3>Animation (Spin)</h3>
{{fa-icon icon='sync' spin=true}}

{{outlet}}
